* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-primaria: #F9003D;
    --cor-secundaria: #A259F7;
    --cor-destaque: #FFAF00;
    --fundo-escuro: #080324;
    --texto-claro: #FFFFFF;
    --texto-cinza: #C7BAB3;
}

body {
    background-color: var(--fundo-escuro);
    color: var(--texto-claro);
    font-family: 'Bebas Neue', sans-serif;
    line-height: 1.6;
    font-size: 18px;
}

address {
    font-style: normal;
}

.container {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 0;
}

.header {
    background-color: var(--cor-primaria);
    position: fixed;
    width: 100%;
    z-index: 10;
    padding: 0.5rem 0;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.logo {
    height: 40px;
}

.menu {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.menu a {
    color: var(--texto-claro);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: var(--cor-destaque);
}

.botao {
    background-color: var(--cor-secundaria);
    color: var(--texto-claro) !important;
    padding: 0.6rem 1.5rem;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
}

.botao:hover {
    background: linear-gradient(135deg, var(--cor-secundaria), var(--cor-destaque));
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    transform: translateY(-2px) scale(1.05);
}

.banner {
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0, 0, 0, 0.2)), 
    url("../assets/imagem-fundo-banner.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 60px;
}

.conteudo-banner h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
}

.linha-destaque {
    width: 200px;
    height: 2px;
    background-color: var(--cor-destaque);
    margin: 1rem auto;
}

.subtitulo {
    font-size: 1.8rem;
    color: var(--texto-cinza);
    margin-bottom: 2rem;
}

.mouse {
    width: 60px;
    margin-top: 2rem;
    opacity: 0.8; 
}