* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-primaria: #F9003D;
    --cor-secundaria: #A259F7;
    --cor-destaque: #FFAF00;
    --fundo-escuro: #080324;
    --texto-claro: #FFFFFF;
    --texto-cinza: #C7BAB3;
}

body {
    background-color: var(--fundo-escuro);
    color: var(--texto-claro);
    font-family: 'Bebas Neue', sans-serif;
    line-height: 1.6;
    font-size: 18px;
}

address {
    font-style: normal;
}

.container {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 0;
}

.header {
    background-color: var(--cor-primaria);
    position: fixed;
    width: 100%;
    z-index: 10;
    padding: 0.5rem 0;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.logo {
    height: 40px;
}

.menu {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.menu a {
    color: var(--texto-claro);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: var(--cor-destaque);
}

/* Esconde quando tela grande */
.btn-menu {
    display: none;
}

.botao {
    background-color: var(--cor-secundaria);
    color: var(--texto-claro) !important;
    padding: 0.6rem 1.5rem;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
}

.botao:hover {
    background: linear-gradient(135deg, var(--cor-secundaria), var(--cor-destaque));
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    transform: translateY(-2px) scale(1.05);
}

.banner {
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0, 0, 0, 0.2)), 
    url("../assets/imagem-fundo-banner.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 60px;
}

.conteudo-banner h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
}

.linha-destaque {
    width: 200px;
    height: 2px;
    background-color: var(--cor-destaque);
    margin: 1rem auto;
}

.subtitulo {
    font-size: 1.8rem;
    color: var(--texto-cinza);
    margin-bottom: 2rem;
}

.mouse {
    width: 60px;
    margin-top: 2rem;
    opacity: 0.8; 
}

.sobre {
    background-color: #181012;
    padding: 4rem 0;
}

.titulo-secao {
    color: var(--cor-primaria);
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;
}

.conteudo-sobre {
    display: flex;
    gap: 3rem;
    align-items: center;
    flex-wrap: wrap;
}

.imagem-sobre {
    width: 45%;
    border-radius: 10px;
    min-width: 300px;
    flex: 1;
}

.texto-sobre {
    width: 50%;
    min-width: 300px;
    flex: 1;
}

.destaque {
    color: var(--cor-destaque);
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.texto-sobre h3 {
    font-size: 2.5rem;
    margin: 1rem 0;
}

.texto-sobre p {
    color: var(--texto-cinza);
    font-size: 1.2rem;
}

.info {
    padding: 4rem 0;
    text-align: center;
}

.cards-info {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.card {
    background-color: #241a1c;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

.card h3 {
    color: var(--cor-destaque);
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.card p {
    background-color: var(--fundo-escuro);
    padding: 1.5rem;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1.5rem;
}

.endereco {
    padding: 4rem 0;
}

.conteudo-endereco {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    flex-wrap: wrap;
    gap: 2rem;
}

.texto-endereco {
    font-size: 1.3rem;
    line-height: 1.8;
    flex-grow: 1;
}

.mapa {
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.footer {
    background-color: var(--cor-primaria);
    text-align: center;
    padding: 1.5rem 0;
    margin-top: 4rem;
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .nav-header {
        justify-content: center;
    }

    .menu {
        padding-top: 0;
    }

    /* Programação (exclusiva para menu hamburguer) */
    .btn-menu {
        display: block;
        background: none;
        border: none;
        color: var(--texto-claro);
        font-size: 2.5rem;
        cursor: pointer;
    }

    .nav-header {
        justify-content: space-between;
    }

    .menu {
        display: none;
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding-top: 1rem;
    }

    .menu.aberto {
        display: flex;
    }
}